// Variables

$main: #121e36;
$sec: #0072bc;
$ter: #304666;

// Basic Color
$wt: #ffffff;
$bl: #000000;
$t: #444;

$gray: #bcbcbc;
$lgray: #f1f1f1;
$lgray2: #f8f8f8;

$ldblue: #262b4d;

$orange: #ffae00;
$green: #64bc36;
$blue: #22a6b3;
$red: #eb4d4b;
$brown: #b49d3a;

// pallete
$border: #eaeaea;
$border2: rgba(34, 34, 34, 0.3);

// font
$r: "Frutiger", sans-serif;
$b: "Frutiger_bold", sans-serif;
